
		.centerthis {
			text-align: center;
			margin: auto;
		}

		.button {
			background-color: #FDE76C ; /* Yellow Pastel */
			border: none;
			border-radius: 12px;
			color: white;
			padding: 10px 25px;
			width: 200px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-family: 'Copse', serif;
			font-size: 25px;
			margin: 4px 2px;
			cursor: pointer;
			transition: all 0.5s;
		}

		.button1 {
			background-color: #FDE76C ; /* Yellow Pastel */
			color: white;
		}


		.button1:hover {
			background-color: white;
			color: black;
			border: 2px solid #FDE76C;
		}

		.body {
			background-image: url("background.jpg");
			min-height: 500px;
			background-attachment: fixed;
    		background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
		}
		
		.lobby-player-list {
			font-family: 'Copse', serif;
			font-size: 20px;
			text-align: left;
			position: relative;
			margin: 60px 0;
			padding: 4px 8px;
			background: transparent;
			background-color: #f9f9f9;
			max-width: 500px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 5px;
			font-weight: bold;
		}
		
		.main-content {
			margin-right: auto;
			margin-left: auto;
		}
		
		li span { font-weight: normal; }